@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color:hsl(257, 40%, 49%);
    background-image: url("images/bg-mobile.svg") ;
    background-repeat: no-repeat;
}
.logo{
 
    height: 10%;
    width: 100vw;
}
.logo img{
    height: 40px;
    margin: 30px;
}
.Container{
    height: 80%;
}  
.mockup{
  
    height: 40%;
    background-image: url(images/illustration-mockups.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom;
}
.description{
 
    height: 60%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px; 
}
h1{    
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
p{
    color: white;
    text-align: center;   
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}
.button{
    background-color: white;
    color:hsl(257, 40%, 49%) ;
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    padding: 10px;    
}
footer{
   height: 10%;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;
   padding: 20px;
   word-spacing: 20px;
   font-size: 32px;
   color: white;
}

/* Desktop version */

@media only screen and (min-width: 992px) {

body{
    background-size: ;
    height: 100vh;
    width: 100vw;
    
}

   .Container{
     display: flex;
     width: 100vw;
     /* padding: 50px 50px 0 50px; */
   }
   .mockup {
    height: 100%;
    flex: 2;  
    background-position: center;
    background-size: 80%;
  }
  .description {
    height: 100%;
    flex: 1;
    gap:40px;
  }
  h1{
    color: white;
    font-weight: 500;
    font-size: 40px; 
      
  }
p{
    align-items: ;
}

  .button{
    /* margin: auto; */
  }
footer{
    text-align: end;
    padding-right: 70px;
}

}